/**************************************************************************************************************************
*                                                         Trabajo de Javier                                               *
***************************************************************************************************************************/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: var(--color-gris-oscuro);
    color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Contenedores Generales */
.contenedor-principal {
    flex: 1;
    padding: 20px;
}

.titulo {
    text-align: center;
    margin: 20px 0;
}

.titulo h1 {
    font-size: 2rem;
}

.titulo p {
    font-size: 1.2rem;
    color: var(--color-gris-claro);
}

/********************************************************* Gestión de Personajes ***********************************************/
.contenedor-personajes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fila-personaje {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-blanco);
    border: 1px solid var(--color-gris-claro);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.fila-personaje:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.icono-personaje {
    width: 60px;
    height: 60px;
    background-color: var(--color-amarillo);
    border-radius: 10%;
    margin-right: 15px;
}

.fila-personaje p {
    flex: 1;
    text-align: left;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--color-gris-oscuro);
    margin: 0;
}

.acciones {
    display: flex;
    gap: 15px;
    align-items: center;
}

.boton-modificar,
.boton-eliminar {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.boton-modificar {
    background-color: var(--color-verde);
    color: var(--color-blanco);
}

.boton-modificar:hover {
    background-color: var(--color-verde-oscuro);
}

.boton-eliminar {
    background-color: var(--color-rojo);
    color: var(--color-blanco);
}

.boton-eliminar:hover {
    background-color: var(--color-rojo-oscuro);
}

/**************************************************** Panel de Administración *****************************************/
#headerPanelAdmin {
    text-align: center;
    padding: 15px 5%;
    background-color: var(--color-azul);
    border-bottom: 1px solid var(--color-gris-claro);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#headerPanelAdmin h1 {
    font-size: 2rem;
    color: var(--color-blanco);
}

.contenedor-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5%;
    padding: 3% 5%;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
}

.tarjeta {
    background-color: var(--color-blanco);
    border: 1px solid var(--color-gris-claro);
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    width: 30vw;
}

.tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tarjeta .imagen-tarjeta {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    background-color: var(--color-amarillo);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.tarjeta .imagen-tarjeta img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

.tarjeta > p {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-gris-oscuro);
    margin-bottom: 10px;
}

.tarjeta a {
    text-decoration: none;
    color: var(--color-azul);
    font-weight: bold;
    border: 2px solid var(--color-azul);
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    margin-top: 10px;
}

.tarjeta a:hover {
    background-color: var(--color-azul);
    color: var(--color-blanco);
}

/* Botones Generales */
.boton-volver {
    width: 100%;
    height: 60px;
    background-color: var(--color-amarillo);
    border-radius: 4px;
    margin: 0 auto;
}

.boton-volver:hover {
    background-color: #caa308;
}


/**************************************************************************************************************************
*                                                         Trabajo Javier de MQ                                          *
***************************************************************************************************************************/

/*************************************************************** Media Queries **********************************************/
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    .contenedor-grid {
        grid-template-columns: 1fr;
        padding: 2% 3%;
    }

    .tarjeta {
        width: 80vw;
        padding: 15px;
    }

    .contenedor-personajes .fila-personaje {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px;
    }

    .icono-personaje {
        width: 80px;
        height: 80px;
    }

    .acciones {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .boton-modificar,
    .boton-eliminar {
        width: 45%;
    }

    #caja_form{
        height: 80vh;
        margin: 10vh 25%;
    }
}

@media (max-width: 480px) {
    .contenedor-grid {
        grid-template-columns: 1fr;
        padding: 5% 2%;
    }

    .contenedor-personajes .fila-personaje {
        padding: 20px;
    }

    .icono-personaje {
        width: 60px;
        height: 60px;
    }

    .acciones {
        flex-direction: column;
        gap: 10px;
    }

    .boton-modificar,
    .boton-eliminar {
        width: 100%;
    }
}
